<a href="https://colab.research.google.com/github/brynnyoung/TEDA1040_BY/blob/main/Web_Scraping_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [5]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [6]:
soup = BeautifulSoup(response, 'html.parser')

In [21]:
id = []
name = []
age = []

for employee in soup.find('table').find_all('tr', class_='employee'):
  id.append(employee.find_all('td')[0].text)
  name.append(employee.find_all('td')[1].text)
  age.append(employee.find_all('td')[2].text)

In [28]:
df = pd.DataFrame({
    'id': id,
    'name': name,
    'age': age
})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      object
dtypes: object(3)
memory usage: 320.0+ bytes

In [29]:
df['age'] = df['age'].astype(int)

In [30]:
df['age'].mean()

29.875

In [31]:
df['age'].std()

3.563204817496262